services:
  movie:
    build:
      context: .
      dockerfile: ./movie/Dockerfile
    ports:
      - "3200:3200"
    env_file: ".env"
  booking:
    build:
      context: .
      dockerfile: ./booking/Dockerfile
    ports:
      - "3201:3201"
    env_file: ".env"
  schedule:
    build:
      context: .
      dockerfile: ./schedule/Dockerfile
    ports:
      - "3202:3202"
    env_file: ".env"
  user:
    build:
      context: .
      dockerfile: ./user/Dockerfile
    ports:
      - "3203:3203"
    env_file: ".env"
  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH: false
